<script>
	export let data;
	import { PUBLIC_API_KEY } from '$env/static/public';
	console.log(data);
</script>

<h1>Stock {data.ticker}</h1>
<h2>PUBLIC_API_KEY {PUBLIC_API_KEY}</h2>

{#if data.results.length > 0}
	<p>High price: {data.results[0].h}</p>
	<p>Lower price: {data.results[0].l}</p>
	<p>Closing price: {data.results[0].c}</p>
{/if}
