<script>
	import { page } from '$app/stores';

	export let data;

	const links = [
		{ url: '/', name: 'Home' },
		{ url: '/color/blue', name: 'Blue' },
		{ url: '/color/red', name: 'Red' },
		{ url: '/color/green', name: 'Green' },
		{ url: '/about', name: 'About' },
		{ url: '/stock/AAPL', name: 'Stock AAPL' },
		{ url: '/contact', name: 'Contact' }
	];
</script>

<h2>Name: {data.name} Age: {data.age}</h2>
<nav>
	<ul>
		{#each links as link (link.url)}
			<li>
				<a class:active={$page.url.pathname === link.url} href={link.url}>{link.name}</a>
			</li>
		{/each}
	</ul>
</nav>

<h2>Path {$page.url.pathname}</h2>
<main>
	<slot />
</main>

<style>
	.active {
		color: orange;
	}
</style>
