<script>
	/** @type {import('./$types').PageData} */
	export let data;
</script>

<h1>Color page {data.color}</h1>
<div style="background-color: {data.color};" />

<style>
	div {
		height: 300px;
		width: 300px;
	}
</style>
